.bodyberanda {
    font-family: Arial, Helvetica, sans-serif;
}

.tablepertama {
    border-style: groove;
    justify-content: center;
    border-width: 3px;
    font-size: 18px;
    
}

.tabletampildata {
   font-size: 18px;
   border-style: ridge;
}

.pembukaan {
    font-size: 18px;
    font-style: italic;
}

.header {
    background-color: #e5c9f0;
    
}
.kirim {
    background-color: green;
    color: white;
}
.reset {
    background-color: orange;
    color: white;
}